In [1]:
print("Hello, World!")

Hello, World!

In [2]:
a = 1
b = 2
c = a + b
print(c)

3

In [4]:
my_var = 3.0
print(my_var)
print(type(my_var)) # show the data type of the variable

3.0
<class 'float'>

In [7]:
# _my@var = "Hello" # invalid variable names @ symbol is not alphanumeric - compile errors
# 3myvar = "Hello" # cannot start with a number - compile errors
my_var = "Hello" 
my_var_2 = 'Hello' # valid variable name must start with a letter or underscore
# can contain letters, numbers, and underscores only / no camel case only snake case
# cannot contain spaces or special characters
print(my_var)
print(type(my_var))

PI_VALUE = 3.14 # constant variable are written in  uppercase letters
print(PI_VALUE)

Hello
<class 'str'>
3.14

In [ ]:
newvariable = "John"
new_variable = "John" 
_new_variable = "John" 
newVariable = "John" # camel case is not a valid variable naming convention in Python
NEW_VARIABLE = "John" # constant variables are usually written in uppercase letters
newvariable2 = "John" # valid variable names can contain numbers but cannot start with a numberz
# 2newvariable = "Python" # invalid variable names cannot start with a number - compile errors
# new-variable = "Python" # invalid variable names cannot contain hyphens - compile errors
# new variable = "Python" # invalid variable names cannot contain spaces - compile errors
print(new_variable)
print(newVariable)
print(_new_variable)
print(newvariable)
print(NEW_VARIABLE)
print(newvariable2)

Doe
20.5
John
John
Hello
World

In [ ]:
my_var = 10 + 12j
my_num = 4.958e9  # scientific notation for 4.958 x 10^9
print(my_var)
print(type(my_var))
print(my_num)
print(type(my_num))

(10+12j)
<class 'complex'>
4958000000.0
<class 'float'>

In [20]:
a = 10     # int
b = float(a) # convert to float / type casting
print(b)
print(type(b))

x = 9.8    # float
y = int(x)   # convert to int / type casting    
print(y)
print(type(y))

10.0
<class 'float'>
9
<class 'int'>

In [ ]:
my_list = [2, 2, 3, 4, 5,"dog",True] # list can contain different data types , duplicates allowed
print(my_list)
print(type(my_list))

my_list[2] = 10 # modify the third element of the list
print(my_list)
print(id(my_list)) # print the memory address of the list

my_list =  [1,2,3,4,5,6,7,8,9,10]
print(my_list[2:6]) # slicing the list from index 2 to index 5
print(my_list[:4]) # slicing the list from the beginning to index 3
print(my_list[5:]) # slicing the list from index 5 to the end
print(my_list[::2]) # slicing the list with a step of 2
print(my_list[-1]) # Negative indexing - last element

[2, 2, 3, 4, 5, 'dog', True]
<class 'list'>
[2, 2, 10, 4, 5, 'dog', True]
2485045431744
[3, 4, 5, 6]
[1, 2, 3, 4]
[6, 7, 8, 9, 10]
[1, 3, 5, 7, 9]
10